<div class ="pull-right">
    {% if config["ADMIN_USER"] %}
    <a href="{{ url_for('carpool.new_message', receiver_id=config['ADMIN_USER'].id) }}" id="suggestions">
        <i class="fa fa-users"></i>&nbsp;Feedback
    </a>
    &nbsp;&nbsp;
    {% endif %}
</div>