{% if current_user.is_authenticated() %}
<div class="profile-sidebar">

    <!-- SIDEBAR USERPIC -->

    {% if not my_profile and user_profile %}
        <div class="profile-userpic visible-lg-block visible-md-block">
            <img src="{{ user_profile.user.gravatar_url() }}" class="img-responsive" alt="">
        </div>
    {% else %}
        <a href="{{url_for('carpool.profile')}}">
            <div class="profile-userpic visible-md-block visible-lg-block">
                <img src="{{ current_user.gravatar_url() }}" class="img-responsive" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    {{ current_user.name or "" }}
                </div>
            </div>
        </a>
    {% endif %}
         <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    {#<div class="profile-userbuttons">
        <button type="button" class="btn btn-success btn-sm">Follow</button>
        <button type="button" class="btn btn-danger btn-sm">Message</button>
    </div>#}
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
            <div class="row visible-xs-block visible-sm-block">
                <div class="col-xs-3 text-center {% if request.path == url_for('carpool.index') %} active {% endif %}">
                    <a href="{{ url_for('carpool.index') }}">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-3 text-center {% if request.path == url_for('carpool.inbox') %} active {% endif %}">
                    <a href="{{ url_for('carpool.inbox') }}">
                        <i class="fa fa-inbox fa-2x"></i>
                        {% if unread_messages %}<span class="badge"> {{ unread_messages }}</span> {% endif %}
                    </a>
                </div>
                <div class="col-xs-3 text-center {% if request.path == url_for('carpool.edit_profile') %} active {% endif %}">
                    <a href="{{ url_for('carpool.edit_profile') }}">
                        <i class="fa fa-user-plus fa-2x"></i></a>
                </div>
                <div class="col-xs-3 text-center {% if request.path == url_for('security.change_password') %} active {% endif %}">
                    <a href="{{ url_for('security.change_password') }}">
                        <i class="fa fa-lock fa-2x"></i>
                    </a>
                </div>
            </div>
        <ul class="nav visible-md-block visible-lg-block">
            <li {% if request.path == url_for('carpool.index') %} class="active" {% endif %}>
                <a href="{{ url_for('carpool.index') }}">
                    <i class="fa fa-home fa-fw"></i>
                    Home
                </a>
            </li>
            <li {% if request.path == url_for('carpool.inbox') %} class="active" {% endif %}>
                <a href="{{ url_for('carpool.inbox') }}">
                    <i class="fa fa-inbox fa-fw"></i>
                    Inbox {% if unread_messages %}<span class="badge pull-right"> {{ unread_messages }}</span> {% endif %}
                </a>
            </li>
            <li {% if request.path == url_for('carpool.edit_profile') %} class="active" {% endif %}>
                <a href="{{ url_for('carpool.edit_profile') }}">
                    <i class="fa fa-user-plus fa-fw"></i>
                    Profile </a>
            </li>
            <li {% if request.path == url_for('security.change_password') %} class="active" {% endif %}>
                <a href="{{ url_for('security.change_password') }}">
                    <i class="fa fa-lock fa-fw"></i>
                    Password</a>
            </li>
        </ul>
    </div>
    <!-- END MENU -->
</div>
{% endif %}