<div class ="pull-right">
    <a href="{{ url_for('carpool.inbox') }}" id="new">
        <span class="fa fa-arrow-circle-left"></span>&nbsp;Inbox
    </a>
    &nbsp;&nbsp;
    <a href="{{ url_for('carpool.inbox', inbox_type='sent') }}" id="new">
        <span class="fa fa-arrow-circle-right"></span>&nbsp;Sent
    </a>
</div>