<div id="mapCanvas" style="width:100%; height:300px;"> </div>
<br>
<div class="panel panel-default">
    <!-- List group -->
    <ul class="list-group">
        {% for r in search_result %}
        <li class="list-group-item">
            {% if r.user %}
            <p> #{{ r.id }} &nbsp
                <a href="{{ url_for('carpool.profile', user_id=r.user.get_id() ) }}"> {{ r.user.name }}</a>
                    ({{ r.user.gender }})
            </p>
            <p>
                <span><i class="fa fa-location-arrow"></i>&nbsp{{ r.local_area|join(" - ", attribute="locality") }}</span>
            </p>
            <p>
                <span><i class="fa fa-calendar"></i>&nbsp{{ r.days_str }}</span>&nbsp&nbsp
                <span> <i class="fa fa-clock-o"></i>&nbsp
                    {{ r.start_time.strftime('%H:%M') }} - {{ r.end_time.strftime('%H:%M') }}
                </span>

                <span class="pull-right">
                    <a href="{{ url_for('carpool.new_message', receiver_id=r.user.get_id()) }}">
                        <i class="fa fa-envelope-o"></i> Message</a>
                </span>
            </p>
            <p>
                <em>{{ r.comments or "" }}</em>
            </p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>