{%  extends "base.html" %}
{% block extrastyle %}
<style>
    body {
        background: #F1F3FA;
    }
</style>
{% endblock extrastyle %}
{% block page %}
<div class="container" role="main">
    {% include "_message.html" %}
    <div class="row">
        <div class="col-md-3">
            {% block sidecontent %}
            {% include "carpool/_menu.html" %}
            {% endblock sidecontent %}
        </div>
        <div class="col-md-9">
            {% block maincontent %}

            {% endblock maincontent %}
        </div>
    </div>
</div>
{% endblock page %}
