{% extends "carpool/base.html" %}

{% from "_macros.html" import render_field_safe, render_field_with_errors %}
{% block maincontent %}
<div class="profile-content">
    <form action="{{ url_for('carpool.edit_commute', commute_id=commute_id or None) }}"
          method="POST" role="form" name="commute_form" id="commuteForm">
        {{commute_form.hidden_tag()}}
        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field_with_errors( commute_form.start_address,
                class="form-control", placeholder="Start Address",
                onclick="clearGeo('startDetails');mapContext.clearMarker('start');",
                onchange="geocodeStartAddress(this)")
                }}
            </div>
            <div class="form-group col-md-6">
                {{ render_field_with_errors( commute_form.start_time,
                class="form-control", placeholder="HH:MM (24 Hr Format)",
                id="startTime")
                }}
            </div>
        </div>
        <div id="startDetails">
            {{ commute_form.start_latitude(dataGeoStart="lat", type="hidden" )  }}
            {{ commute_form.start_longitude(dataGeoStart="lng", type="hidden")  }}
            {{ commute_form.start_locality(dataGeoStart="locality", type="hidden") }}
            {{ commute_form.start_state(dataGeoStart="administrative_area_level_1", type="hidden") }}
        </div>
        <div id="endDetails">
            {{ commute_form.end_latitude(dataGeoEnd="lat", type="hidden")  }}
            {{ commute_form.end_longitude(dataGeoEnd="lng", type="hidden")  }}
            {{ commute_form.end_locality(dataGeoEnd="locality", type="hidden") }}
            {{ commute_form.end_state(dataGeoEnd="administrative_area_level_1", type="hidden") }}
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field_with_errors( commute_form.end_address,
                class="form-control", placeholder="Destination Address",
                onclick="clearGeo('endDetails');mapContext.clearMarker('end');",
                onchange="geocodeEndAddress(this)")
                }}
            </div>
            <div class="form-group col-md-6">
                {{ render_field_with_errors( commute_form.end_time,
                class="form-control", placeholder="HH:MM (24 Hr Format)",
                id="endTime")
                }}
            </div>
        </div>
        <div class = "row">
            <div class="form-group col-md-6">
                <label class="control-label" for="checkboxes">Days</label>
                <div class="">

                    {% for subfield in commute_form.commute_days %}
                    <label class="checkbox-inline" for="{{ subfield.label.field_id }}">
                        {{  render_field_safe(subfield) }}
                        {{ subfield.label.text }}
                    </label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label" for="checkboxes">Preference</label>
                <div class="">

                    {% for subfield in commute_form.share_type %}
                    <label class="checkbox-inline" for="{{ subfield.label.field_id }}">
                        {{  render_field_safe(subfield) }}
                        {{ subfield.label.text }}
                    </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label" for="comments">Comments (optional) </label>
                {{ render_field_safe(commute_form.comments, class="form-control",
                maxlength=250, rows=3, id="comments") }}
                <small class="pull-right" id="count_message"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label" for="submit"></label>
                {{ render_field_safe(commute_form.submit, class="btn btn-success") }}
            </div>
        </div>
    </form>
    <div id="mapCanvas" style="width:100%; height:400px;"> </div>
</div>

{% endblock maincontent %}

{% block extrajs %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="/static/js/jquery.geocomplete.min.js"></script>
<script>
    var text_max = 250;
    $('#count_message').html(text_max + ' characters remaining');

    $('#comments').keyup(function() {
        var text_length = $('#comments').val().length;
        var text_remaining = text_max - text_length;

        $('#count_message').html(text_remaining + ' characters remaining');
    });
    var mapContext = new function() {
        this.map = null;
        this.locations = []
        this.markers = {start: null, end: null};
        this.icons = {
            start: "https://maps.google.com/mapfiles/ms/icons/green-dot.png",
            end: "https://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        };
        this.defaultMap = true;


        this.initMap = function(elementId){
            var geocoder = new google.maps.Geocoder();

            this.map = new google.maps.Map(document.getElementById(elementId), {
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var map = this.map;
            var setViewport = this.setViewport;
            this.plotLocation("start");
            this.plotLocation("end");
            this.centerMarkers();
            if (!this.markersExist()){
                geocoder.geocode({'address': 'US'}, function (results, status) {
                    setViewport(results[0].geometry.viewport, map);
                });
            }
        };
        this.markersExist = function(){
            return ((this.markers.start != null) || (this.markers.end != null));
        }
        this.newMarker = function(location){
            return new google.maps.Marker({
                position: location,
                map: this.map
            });
        };

        this.plotLocation = function(type){
            var lat = document.getElementById(type+"_latitude").value;
            var lng = document.getElementById(type+"_longitude").value;
            if ((lat != "") && (lng != "") ){
                var location = new google.maps.LatLng(lat, lng);
                this.setMarker(type, location);
            }
        };
        this.centerMarkers = function(){
            var latlngBounds = new google.maps.LatLngBounds();
            for (var property in this.markers) {
                if (this.markers.hasOwnProperty(property)) {
                    if (this.markers[property] != null){
                        latlngBounds.extend(this.markers[property].getPosition());
                    }
                }
            }
            if (this.map != null){
                this.map.setCenter(latlngBounds.getCenter());
                this.map.fitBounds(latlngBounds);
                //this.map.setZoom(5);
            }
        };
        this.setMarker = function(type, location){
            if (this.markers[type] != null){
                this.markers[type].setMap(null);
            }
            this.markers[type] = this.newMarker(location);
            this.markers[type].setIcon(this.icons[type]);
        };
        this.clearMarker = function(type){
            if (this.markers[type] != null){
                this.markers[type].setMap(null);
                this.markers[type] = null;
            }
        };

        this.geocodeAddressHandler = function(event, result, type){
            if (this.map == null) {
                this.initMap("mapCanvas");
            }
            var location = result.geometry.location;
            this.setMarker(type, location);
            this.centerMarkers();
        };
        this.setViewport = function(viewport, map){
            var ne = viewport.getNorthEast();
            var sw = viewport.getSouthWest();
            var latlngBounds = new google.maps.LatLngBounds();
            latlngBounds.extend(ne);
            latlngBounds.extend(sw);
            map.setCenter(latlngBounds.getCenter());
            map.fitBounds(latlngBounds);
        }
    };
    $("#start_address").geocomplete({ details: "form", detailsAttribute: "dataGeoStart" }).bind("geocode:result",
            function(event, result) {
                mapContext.geocodeAddressHandler(event, result, "start");
            }
    );
    $("#end_address").geocomplete({ details: "form", detailsAttribute: "dataGeoEnd" }).bind("geocode:result", function(event, result){
        mapContext.geocodeAddressHandler(event, result, "end");
    });
    function clearGeo(geoId) {
        var element = document.getElementById(geoId);
        for (var index = 0; index < element.children.length; ++index) {
            element.children[index].value = "";
        }
    }
    function geocodeStartAddress(element){
        var startLat = document.getElementById("start_latitude");
        var startLng = document.getElementById("start_longitude");
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': element.value, zoom: 10}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var location = results[0].geometry.location;
                var viewport = results[0].geometry.viewport;
                startLat.value = location.lat();
                startLng.value = location.lng();
                element.value = results[0].formatted_address;
                mapContext.setMarker("start", location);
                mapContext.centerMarkers();
            }
        });
    }
    function geocodeEndAddress(element){
        var endLat = document.getElementById("end_latitude");
        var endLng = document.getElementById("end_longitude");
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': element.value}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var location = results[0].geometry.location;
                endLat.value = location.lat();
                endLng.value = location.lng();
                element.value = results[0].formatted_address;
                mapContext.setMarker("end", location);
                mapContext.centerMarkers();
            }
        });
    }
    mapContext.initMap("mapCanvas");
</script>

{% endblock extrajs %}
