{% extends "carpool/base.html" %}
{% block extratitle %} - Edit Profile{% endblock extratitle %}
{% from "_macros.html" import render_field_safe, render_field_with_errors %}
{% block maincontent %}
<div class="profile-content">
    <h2>Edit profile</h2>
    {% if user_profile_form %}
    <form action="{{ url_for('carpool.edit_profile') }}" method="POST"
          class="form-horizontal" role="form"
          name="user_profile_form">
        {{ user_profile_form.hidden_tag() }}
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                {{ render_field_with_errors( user_profile_form.name,
                class="form-control", placeholder="How should we call you?" )}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                {{ render_field_with_errors( user_profile_form.email,
                class="form-control", placeholder="Email",
                readonly=true) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                {{ render_field_with_errors( user_profile_form.description,
                class="form-control", placeholder="Tell something about yourself, your radio prefences etc.",
                id="comments", rows=9, maxlength=500)}}
                <small class="pull-right" id="count_message"></small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                {{ render_field_safe(user_profile_form.submit, class="btn btn-success") }}
            </div>
        </div>
    </form>
    {% endif %}
</div>
{% endblock maincontent %}
{% block extrajs %}
<script>
    var text_max = 500;
    $('#count_message').html(text_max + ' characters remaining');

    $('#comments').keyup(function() {
        var text_length = $('#comments').val().length;
        var text_remaining = text_max - text_length;

        $('#count_message').html(text_remaining + ' characters remaining');
    });
</script>

{% endblock extrajs %}