{% extends "carpool/base.html" %}
{% block extratitle %} - Inbox{% endblock extratitle %}
{% from "_macros.html" import render_field_safe, render_field_with_errors %}
{% block maincontent %}
<div class="profile-content">
    {%  include "carpool/_message_menu.html" %}
<h2> Messages</h2>
{%  if messages | length %}
    <ul>
    {%  for message in messages %}
    <li>
        <a href="{{ url_for('carpool.view_message', message_id=message.id) }}">
            {% if not message.read_status %}
                <strong> {{ message.subject }} </strong>
            {% else %}
                {{ message.subject }}
            {% endif %}
        </a>
    </li>
    {%  endfor %}
    </ul>
{% else %}
    <em> You have no messages!</em>
{% endif %}
</div>
{%  endblock maincontent %}