{%  extends "carpool/base.html" %}
{%block extratitle %} - Home{% endblock extratitle %}
{% block maincontent %}
    <div class="profile-content">
        {% include "carpool/_main_menu.html" %}

        {% if commutes|length == 0 %}
            <h3>Hello {{ current_user.name or "" }}</h3>
            <p> <a href="{{ url_for('carpool.edit_commute') }}"><span>
        <i class="fa fa-plus"></i> Add commute</span>
            </a> to get started.
            </p>
        {% else %}
            <h3> Your Commute </h3>

            <div class="panel panel-default">
                {% for r in commutes %}
                    <!-- List group -->
                    <ul class="list-group">

                        <li class="list-group-item">
                            <div class="row">
                                <i class="fa fa-location-arrow"></i>&nbsp
                                {{ r.start_address }} - {{ r.end_address }}
                            </div>
                            <div class="row">
                    <span>
                        <i class="fa fa-calendar"></i>&nbsp{{ r.days_str }}
                    </span>&nbsp&nbsp
                    <span>
                        <i class="fa fa-clock-o"></i>&nbsp
                        {{ r.start_time.strftime('%H:%M') }} - {{ r.end_time.strftime('%H:%M') }}
                    </span>
                            </div>
                            <div class="row">
                                <div class="pull-left">
                            <span>
                                <a href="{{ url_for('carpool.search_commute', commute_id=r.id ) }}">
                                    <i  class="fa fa-search"></i>&nbspSearch
                                </a>
                            </span> &nbsp&nbsp
                            <span>
                                <a href="{{ url_for('carpool.edit_commute', commute_id=r.id ) }}">
                                    <i  class="fa fa-edit"></i>&nbsp Edit
                                </a>
                            </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock maincontent %}

{% block extrajs %}
    <script>
        function search(form){
            //var startTime = parseFloat(form.elements["startTime"].value).toFixed(1);
            var startDistance = parseFloat(form.elements["startDistance"].value).toFixed(1);
            //var endTime = parseFloat(form.elements["endTime"].value).toFixed(1);
            var endDistance = parseFloat(form.elements["endDistance"].value).toFixed(1);
            var commute_id = form.elements["commute_id"].value;
            document.location.href = '/search/'+commute_id+"/"+startDistance+"/"+endDistance+"/";
        }
    </script>
{% endblock extrajs %}