{% extends "carpool/base.html" %}
{% block extratitle %} - New Message{% endblock extratitle %}
{% from "_macros.html" import render_field_safe, render_field_with_errors %}
{% block maincontent %}
<div class="profile-content">
{%  include "carpool/_message_menu.html" %}

{% if message_form %}
    <h2>Send a message</h2>
    <form
            {% if parent_message %}
         action="{{ url_for('carpool.new_message', receiver_id=receiver.get_id(), thread_id=parent_message.id ) }}"
            {% else %}
            action="{{ url_for('carpool.new_message', receiver_id=receiver.get_id()) }}"
            {% endif %}
          method="POST"
          class="form-horizontal" role="form"
          name="message_form">
        {{ message_form.hidden_tag() }}
        <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
            <b>To</b>:
            <a href="{{ url_for('carpool.profile', user_id=receiver.get_id()) }}">
                {{receiver.name}}
            </a>
        </div>
            </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                {% if parent_message %}
                {{ render_field_with_errors( message_form.subject,
                class="form-control", placeholder="Subject", readonly=true,
                value="Re: "+parent_message.subject) }}
                {% else %}
                {{ render_field_with_errors( message_form.subject,
                class="form-control", placeholder="Subject") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                {{ render_field_with_errors( message_form.body,
                class="form-control", placeholder="Body of the message",
                id="comments", rows=9, maxlength=500)}}
                <small class="pull-right" id="count_message"></small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                {{ render_field_safe(message_form.submit, class="btn btn-success") }}
            </div>
        </div>

    </form>
{% endif %}

</div>
{% endblock maincontent %}

{% block extrajs %}
<script>
    var text_max = 500;
    $('#count_message').html(text_max + ' characters remaining');

    $('#comments').keyup(function() {
        var text_length = $('#comments').val().length;
        var text_remaining = text_max - text_length;

        $('#count_message').html(text_remaining + ' characters remaining');
    });
</script>

{% endblock extrajs %}