{% extends "carpool/base.html" %}
{% block extratitle %} - Profile{% endblock extratitle %}
{% block maincontent %}
<div class="profile-content">
    {% if user_profile %}
    <div class="row">
        <h3>{{ user_profile.user.name }}</h3>
    </div>
    <br>

    <div class="row">
        <div class="col-md-2">
            <strong>About Me </strong>
        </div>
        <div class="col-md-10">
            <em>{{ user_profile.description or ""}} </em>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <strong>Gender </strong>
        </div>
        <div class="col-md-10">
            <em>{{ user_profile.user.get_gender() }}</em>
        </div>
    </div>
        <br>
    <div class="row">
    <div class="col-md-2">
        {%  if not my_profile  %}
        <a href="{{ url_for('carpool.new_message', receiver_id=user_profile.user.get_id()) }}">
                            <i class="fa fa-envelope-o"></i> Message</a>
        {% endif %}
    </div>
    </div>
    {% endif %}

</div>
{% endblock maincontent %}