{%  extends "carpool/base.html" %}
{% block extratitle %} - Search{% endblock extratitle %}
{% block maincontent %}
<div class="profile-content">
    <h3>Search </h3>
    <form class="form-inline" id="form"  method="GET", name="commute_search_form">
        <div class="form-group">
            <label for="startDistance">Start Distance</label>
            {{ commute_search_form.start_distance(class="form-control",
            id="distance", placeholder="Start distance in miles",
            required=true) }}

        </div>
        <div class="form-group">
            <label for="endDistance">End Distance</label>
            {{ commute_search_form.end_distance(class="form-control",
            placeholder="End distance in miles",
            required=true) }}
        </div>
        <input type="hidden" name="commute_id" value="{{ commute.id }}">
        <div class="form-group">
            {{ commute_search_form.submit(class="btn btn-success", value="Search", type="button",
            onclick="search(this.form)")}}
        </div>
    </form>

    {% if locations %}
    <hr>
    {% if search_result | length %}
    <small>The addresses shown are randomized to roughly half a mile to protect privacy! </small>
    {% include "carpool/_search_map.html" %}
    {% else %}
    <span> Sorry! No results were found to match your search criteria! </span>
    {% endif %}
    {% endif %}
</div>

{% endblock maincontent %}


{% block extrajs %}
{% include "carpool/_search_script.html" %}
{% endblock extrajs %}