{% extends "carpool/base.html" %}
{% block extratitle %} - Messages{% endblock extratitle %}
{% from "_macros.html" import render_field_safe, render_field_with_errors %}
{% block maincontent %}
<div class="profile-content">
    {%  include "carpool/_message_menu.html" %}
{%  if message %}
    <div class="row">
        <div class="col-md-10">
            <h2>{{ message.subject }}</h2>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <a href="{{ url_for('carpool.profile', user_id=message.sender_id) }}">{{ message.sender().name | safe}}</a>
            to
            <a href="{{ url_for('carpool.profile', user_id=message.receiver_id) }}">{{ message.receiver().name | safe}}</a>
            <span class="pull-right">{{ message.datetime.strftime("%b %d, %Y") }}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{ message.body | safe}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <a href="{{ url_for('carpool.new_message', receiver_id=message.reply_to_identifier(current_user), thread_id=message.thread_identifier()) }}">Reply</a>&nbsp;&nbsp;
            <a href="{{ url_for('carpool.new_message', receiver_id=message.reply_to_identifier(current_user)) }}">New</a>&nbsp;&nbsp;
        </div>

    </div>

{% endif %}
</div>
{% endblock maincontent %}