<p>Hello {{ receiver.name }},</p>


<p>
    You have a new message from
    <a href="{{ url_for('carpool.profile', user_id=sender.id, _external=True) }}">{{ sender.name }}</a>.
    This is a notification, and please <strong>do not reply to this email</strong>.
    You can <a href="{{ url_for_security('login', _external=True) }}">login</a>, to respond.
</p>

<p>Sincerely,</p>
<p>UCarpool</p>