{% extends 'carpool/base.html' %}
{% block title %} {{config.SITENAME}} - Change Password {% endblock %}
{% from "_macros.html" import render_field_with_errors, render_field_safe %}
{% block maincontent %}
<div class="profile-content">
    <h2>Change password</h2>
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form action="{{ url_for_security('change_password') }}"
              method="POST"
              name="change_password_form">
            {{ change_password_form.hidden_tag() }}

            <div class="form-group">
                <div class="col-md-12">
                    {{ render_field_with_errors( change_password_form.password,
                    class="form-control", placeholder="Current Password")}}<br>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ render_field_with_errors( change_password_form.new_password,
                    class="form-control", placeholder="New Password")}}<br>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ render_field_with_errors( change_password_form.new_password_confirm,
                    class="form-control", placeholder="Confirm New Password")}}<br>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ render_field_safe(change_password_form.submit, class="btn btn-success") }}
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock maincontent %}
