{% extends 'security/base.html' %}
{% block title %} {{config.SITENAME}} - Forgot Password {% endblock %}
{% from "_macros.html" import render_field_with_errors, render_field_safe %}

{% block maincontent %}
<div id="signupbox" style="margin-top:25px"  class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Forgot Password</div>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
                {{ forgot_password_form.hidden_tag() }}
                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_with_errors( forgot_password_form.email,class="form-control", placeholder="Email")}}<br>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_safe(forgot_password_form.submit, class="btn btn-success") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock maincontent %}
