{% extends 'security/base.html' %}
{% block title %} {{config.SITENAME}} - Login {% endblock %}
{% from "_macros.html" import render_field_with_errors, render_field_safe %}

{% block maincontent %}
<div id="signupbox" style="margin-top:25px"  class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign In</div>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('security.login') }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_with_errors( login_user_form.email,class="form-control", placeholder="Email")}}<br>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_with_errors( login_user_form.password,
                        class="form-control", placeholder="Password")}}<br>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_safe(login_user_form.submit, class="btn btn-success") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="margin-top:10px; border-top: 1px solid#888; padding-top:10px;">
                            {% if config.SECURITY_RECOVERABLE %}
                            <span class="pull-left"><a href="{{ url_for('security.forgot_password') }}"><small>Forgot password?</small></a></span>
                            {% endif %}

                            {%  if config.SECURITY_REGISTERABLE %}
                            <span class="pull-right"><a href="{{ url_for('security.register') }}"><small>Not a member yet?</small></a></span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock maincontent %}
