{% extends 'security/base.html' %}

{% block title %}  {{config.SITENAME}} - Register{% endblock %}
{% from "_macros.html" import render_field_safe, render_field_with_errors %}
{% block maincontent %}
<div id="signupbox" style="margin-top:25px"  class="col-sm-8 col-sm-offset-2">
    <div class="panel  panel-info">
        <div class="panel-heading">
            <div class="panel-title">Register</div>
        </div>
        <div class="panel-body">
            <form action="{{ url_for_security('register') }}"
                  method="POST" class="form-horizontal" role="form" name="register_user_form">
                {{register_user_form.hidden_tag()}}
                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_with_errors( register_user_form.name,
                        class="form-control", placeholder="How should we call you?" )}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_with_errors( register_user_form.email,
                        class="form-control", placeholder="How can we reach you?" )}}
                    </div>
                </div>
                <div class="form-group">
                    <dt>
                        <label class="col-md-2 control-label" for="gender">Gender</label>
                    </dt>
                    <dd>
                        <div class="col-md-9 col-md-offset-1">
                            {% for subfield in register_user_form.gender %}
                            <label class="radio-inline" for="{{ subfield.label.field_id }}">
                                {{  render_field_safe(subfield) }}
                                {{ subfield.label.text }}
                            </label>
                            {% endfor %}
                        </div>
                    </dd>
                    {% if register_user_form.gender.errors %}
                    <ul>
                        {% for error in register_user_form.gender.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_with_errors( register_user_form.password,
                        class="form-control", placeholder="How do we know its you?")}}
                    </div>
                </div>
                {% if register_user_form.password_confirm %}
                <div class="form-group">
                    <div class="col-md-12">
                        {{ render_field_with_errors(register_user_form.password_confirm,
                        class="form-control", placeholder="Confirming! If it is one of those days, you know!") }}
                    </div>

                </div>
                {% endif %}

                <div class="form-group">
                    <div class="col-md-12">
                        By registering you accept to the <a href="{{ url_for('main.terms_of_use')}}">terms of use</a><br>
                        {{ render_field_safe(register_user_form.submit, class="btn btn-success") }}

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="margin-top:10px; border-top: 1px solid#888; padding-top:10px;">
                            <span class="pull-left"><a href="{{ url_for('security.login') }}"><small>Already a member?</small></a></span>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}