{% extends 'security/base.html' %}
{% block title %} {{config.SITENAME}} - Password Confirmation {% endblock %}
{% from "_macros.html" import render_field_with_errors, render_field %}
{% block maincontent %}
    <div id="signupbox"  style="margin-top:25px;"  class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Resend Confirmation Instructions</div>
            </div>
            <div class="panel-body">

                <form action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
                    {{ send_confirmation_form.hidden_tag() }}
                    {{ render_field_with_errors(send_confirmation_form.email, class="form-control", placeholder="Email") }}
                    {{ render_field(send_confirmation_form.submit, value="Send", class="btn btn-success") }}
                </form>
            </div>
        </div>
    </div>
{% endblock maincontent %}
