{%  extends "base.html" %}
<!-- main content -->
{% block page %}
<div class="container" role="main">
    {% include "_message.html" %}
    <div class="row">
        {% block main %}
        {% endblock main %}
    </div>
</div>
{% endblock page %}
{% include "blogging/analytics.html" %}
{% block js %}
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
          MathJax.Hub.Config({
          "HTML-CSS": {
          styles: {
          ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
          },
          tex2jax: {inlineMath: [['$','$'], ['\\\\(','\\\\)']],processEscapes: true}
          });
</script>
{% endblock js %}
{% block extrajs %}

{% endblock extrajs %}