{% extends 'base.html' %}
{% block maincontent %}
    <div class="jumbotron">
        <p>
            404 - Something must have gone wrong! This is kind of embarrasing!
            But we are working hard at improving the site!
        </p>
    </div>
    <p>  </p>
{% endblock %}    

