<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    {% endblock meta %}



    <title>{% block title %}{{config.SITENAME}}{%block extratitle %}-Greater Los Angeles Carpool & Rideshare Community{% endblock extratitle %}{% endblock title %}</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">



    {% block extrastyle %} {% endblock extrastyle %}
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/static/img/logo.png" style="height:100%">
            </a>
        </div>
        {% block navright %}

        <div class="collapse navbar-collapse pull-right">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_for('blogging.index') }}">Blog</a>
                </li>
                {% if current_user.is_authenticated() %}
                <li>
                    <a href="{{ url_for('carpool.index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for_security('logout') }}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('main.search') }}">Search</a>
                </li>
                <li>
                    <a href="{{ url_for_security('login') }}">Login</a>
                </li>
                <li>
                    <a href="{{ url_for_security('register') }}">Register</a>
                </li>
                {% endif %}
            </ul>

        </div><!--/.nav-collapse -->

        {% endblock navright %}
    </div>
</div>
{% block page %}

{% endblock page %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{%  block js %}
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock js %}
{% block extrajs %} {% endblock extrajs %}
{% if not config.DEBUG %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-65320718-1', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
