{% extends 'base.html' %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UCarPool.org: Greater Los Angeles carpool and rideshare community">
    <meta name="author" content="">
    <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="ucarpool.org">
    <meta itemprop="description" content="The Greater Los Angeles carpool and rideshare community!">
    <meta itemprop="image" content="https://ucarpool.org/static/img/logo.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ucarpool">
    <meta name="twitter:title" content="ucarpool">
    <meta name="twitter:description" content="Discover a community to share a ride with">
    <meta name="twitter:creator" content="@ucarpool">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <!--meta name="twitter:image" content="http://www.example.com/image.jpg"-->

    <!-- Open Graph data -->
    <meta property="og:title" content="ucarpool" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ucarpool.org" />
    <meta property="og:image" content="https://ucarpool.org/static/img/logo.png" />
    <meta property="og:description" content="Greater Los Angeles carpool and rideshare community!" />
{% endblock meta %}
{% from "_macros.html" import render_field_safe, render_field_with_errors %}
{% block sidecontent%}

{% endblock sidecontent %}

{% block extrastyle %}
    <!--link href='https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'-->
    <style>
        .bg {
        {% if img_data %}
            background: url(data:image/gif;base64,{{ img_data }}) no-repeat center center;
        {% else %}
            background: url('/static/img/city_street_sm2.jpg') no-repeat center center;
        {% endif %}
            /*opacity: 0.5;*/
            position: absolute;
            width: 100%;
            height: 600px; /*same height as jumbotron */
            top:0;
            left:0;
            z-index: -1;
            background-size:cover;
        }
        .jumbotron {
            height: 600px;
            color: white;
            text-shadow: #444 0 1px 1px;
            background:transparent;
            margin-bottom: 0px;
            min-height: 600px;
        }
        @media screen and (min-width: 768px) {
            .jumbotron h1, .jumbotron .h1 {
                font-size: 50px;
            }
        }
        #main-center-search{
            background-color: #334045; /*#28282e;*/
            padding-bottom: 11px;
            padding-top: 2px;
            position: relative;
            bottom:80px;
            left: 0;
            width: 100%;
            height: auto;
            text-align: center;
        }
    </style>
{% endblock extrastyle %}

{% block page %}
    <div class="container">
        <!--div class="overlay"></div-->
        <div class="bg"></div>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <h1>Los Angeles Carpool Community</h1>
                    <!--p>
                        Discover a community to share a ride with!
                    </p-->
                </div>
                <div class="col-sm-6">
                    <form action="{{ url_for_security('register') }}"
                          method="POST" class="form-horizontal" role="form" name="register_user_form">
                        {{register_user_form.hidden_tag()}}
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ render_field_safe( register_user_form.name,
                            class="form-control", placeholder="Name or Nickname" )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ render_field_safe( register_user_form.email,
                            class="form-control", placeholder="Email Address" )}}
                            </div>
                        </div>
                        <div class="form-group">
                            <dt>
                                <label class="col-xs-2 control-label" for="gender">Gender</label>
                            </dt>
                            <dd>
                                <div class="col-xs-9 col-xs-offset-1">
                                    {% for subfield in register_user_form.gender %}
                                        <label class="radio-inline" for="{{ subfield.label.field_id }}">
                                            {{  render_field_safe(subfield) }}
                                            {{ subfield.label.text[0] }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </dd>
                            {% if register_user_form.gender.errors %}
                                <ul>
                                    {% for error in register_user_form.gender.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ render_field_safe( register_user_form.password,
                            class="form-control", placeholder="Password")}}
                            </div>
                        </div>
                        {% if register_user_form.password_confirm %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{ render_field_safe(register_user_form.password_confirm,
                            class="form-control", placeholder="Confirm Password") }}
                                </div>

                            </div>
                        {% endif %}

                        <div class="form-group">
                            <div class="col-sm-12">
                                By registering you accept to the <a href="{{ url_for('main.terms_of_use')}}" style="color:white;text-decoration: underline;">terms of use</a><br>
                                {{ render_field_safe(register_user_form.submit, class="btn btn-warning") }}

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#
    <div class="container" id="main-center-search">
        <div class="row">
            <form action="{{ url_for('main.search')}}" method="POST" class="form"
                  role="form" name="search_form">
                {{ search_form.hidden_tag() }}
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        {{ render_field_safe(search_form.start_address, class="form-control",
                placeholder="Start Address", required=true) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                    {{ render_field_safe(search_form.end_address, class="form-control",
                placeholder="End Address", required=true) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                    {{ render_field_safe(search_form.submit, class="btn btn-warning") }}
                        </div>
                </div>
                <div id="startDetails">
                    {{ search_form.start_latitude(dataGeoStart="lat", type="hidden" )  }}
                    {{ search_form.start_longitude(dataGeoStart="lng", type="hidden")  }}
                    {{ search_form.start_locality(dataGeoStart="locality", type="hidden") }}
                    {{ search_form.start_state(dataGeoStart="administrative_area_level_1", type="hidden") }}
                </div>
                <div id="endDetails">
                    {{ search_form.end_latitude(dataGeoEnd="lat", type="hidden")  }}
                    {{ search_form.end_longitude(dataGeoEnd="lng", type="hidden")  }}
                    {{ search_form.end_locality(dataGeoEnd="locality", type="hidden") }}
                    {{ search_form.end_state(dataGeoEnd="administrative_area_level_1", type="hidden") }}
                </div>
            </form>
        </div>
    </div>
     #}
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>How to UCarPool?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box">
                    <div class="box-icon">
                        <span><img alt="register" src="/static/img/register.jpg" class="img-circle"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Register</h4>
                        <p>Register by providing your name, email and gender.
                        Your contact email remains private until you
                        authorize to share with others. And it takes less than
                        a minute!</p>
                        <a href="{{ url_for('security.register') }}" class="btn">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box">
                    <div class="box-icon">
                        <span><img alt="login" src="/static/img/commute.jpg" class="img-circle"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Add Commute</h4>
                        <p>Login to the site, and add information about your commute.
                            Your commute is kept private, and only an approximate
                            route is shown in searches.</p>
                        <a href="{{ url_for('security.login') }}" class="btn">Login</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box">
                    <div class="box-icon">
                        <span><img alt="search" src="/static/img/map.jpg" class="img-circle"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Search</h4>
                        <p>Search for other commuters matching your commute
                        and filter based on proximity to your home and work place.
                        Contact other commuters to begin carpooling.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box">
                    <div class="box-icon">
                        <span><img alt="carpool" src="/static/img/coins.jpg" class="img-circle"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Carpool</h4>
                        <p>Carpool with commuters in your community
                            and save money by splitting on gas expenses.
                            You can also beat the traffic by using the carpool
                            lanes, and save time.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box">
                    <div class="box-icon">
                        <span><img alt="free" src="/static/img/beer.jpg" class="img-circle"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">And Its Free</h4>
                        <p>
                            The best part, this site is a free community resource to find others
                            to carpool with. The vision of the <a href="/blog/page/2/the-ucarpool-community/">UCarPool Community</a>
                            is explained here. If every person signing up on this site
                            invited a friend along, we will have a very thriving community
                            to share a ride with.
                        </p>
                        <a href="/blog/page/2/the-ucarpool-community/" class="btn">Vision</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <h2> In the News</h2>
                </div>
                <ul>
                    <li><a href="http://www.scpr.org/programs/airtalk/2015/08/24/44212/why-carpooling-is-disappearing-and-how-some-apps-a/">
                        UCarpool featured on KPCC
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="text-center">
                    <h2> The Los Angeles Carpool Community</h2>
                </div>
                <p>
                    This site is a community of people that like to carpool to work
                    and back. The vision of the <a href="/blog/page/2/the-ucarpool-community/">UCarPool Community</a>
                    is explained here. If every person signing up on this site
                    invited a friend along, we will have a very thriving community
                    to share a ride with.
                </p>
            </div>
        </div>
    </div>
     #}
{% endblock page %}
{% block extrajs %}
{#
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="/static/js/jquery.geocomplete.min.js"></script>
    <script>
        $("#start_address").geocomplete({ details: "form", detailsAttribute: "dataGeoStart" }).bind();
        $("#end_address").geocomplete({ details: "form", detailsAttribute: "dataGeoEnd" }).bind();
    </script>
#}
{% endblock extrajs %}


