{% extends 'base.html' %}
{% from "_macros.html" import render_field_safe, render_field_with_errors %}
{% block page %}
<div class="container">
    <h2>Recent Searches</h2>

    <div class="row text-center">
        <form action="{{ url_for('main.search')}}" method="POST" class="form"
              role="form" name="search_form">
            {{ search_form.hidden_tag() }}
            <div class="form-group">
                <div class="col-md-4 col-md-offset-1">
                {{ render_field_safe(search_form.start_address, class="form-control",
                placeholder="Start Address", required=true) }}
                    </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    {{ render_field_safe(search_form.end_address, class="form-control",
                placeholder="End Address", required=true) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    {{ render_field_safe(search_form.submit, class="btn btn-warning") }}
                </div>
            </div>
            <div id="startDetails">
                {{ search_form.start_latitude(dataGeoStart="lat", type="hidden" )  }}
                {{ search_form.start_longitude(dataGeoStart="lng", type="hidden")  }}
                {{ search_form.start_locality(dataGeoStart="locality", type="hidden") }}
                {{ search_form.start_state(dataGeoStart="administrative_area_level_1", type="hidden") }}
            </div>
            <div id="endDetails">
                {{ search_form.end_latitude(dataGeoEnd="lat", type="hidden")  }}
                {{ search_form.end_longitude(dataGeoEnd="lng", type="hidden")  }}
                {{ search_form.end_locality(dataGeoEnd="locality", type="hidden") }}
                {{ search_form.end_state(dataGeoEnd="administrative_area_level_1", type="hidden") }}
            </div>
        </form>
    </div>
    <br>
    {% if search_result and search_result | length %}
        <span >Please <a href="{{ url_for_security('register') }}">register</a> to contact other carpoolers.</span>
        <br>
    <div id="mapCanvas" style="width:100%; height:300px;"> </div>
    <br>

    {% for search_row in search_result | batch(2) %}
    <div class="row">
        {% for s in search_row %}
        <div class="col-md-6">
            <li class="list-group-item">
                <span>{{s.start_area}} to {{ s.end_area }} (id:{{ s.id }})</span>
            </li>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock page %}

{% block extrajs %}
{% include "carpool/_search_script.html" %}
<script src="/static/js/jquery.geocomplete.min.js"></script>
<script>
    $("#start_address").geocomplete({ details: "form", detailsAttribute: "dataGeoStart" }).bind();
    $("#end_address").geocomplete({ details: "form", detailsAttribute: "dataGeoEnd" }).bind();
</script>
{% endblock extrajs %}