{%  extends "base.html" %}
{% block extratitle %} - Terms Of Use{% endblock extratitle %}
{% block page %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ content | safe }}
        </div>
    </div>
{%  endblock page %}